<div class="w-full rounded overflow-hidden shadow-md m-1 mx-auto bg-slate-50">
   
    <div class="px-6 pb-4 pt-2">
        <div class="font-bold text-xl mb-2">
            @Content.ContentTitle
            <p class="text-gray-500 text-base">
                by <NavLink href="@($"authors/{Content.ContentAuthorId}")" class="text-yellow-500 hover:text-amber-300">
                    @Content.ContentAuthor
                </NavLink>
            </p>
        </div>
        <p class="text-gray-700 text-base">
            @Content.ContentBody
        </p>
    </div>
    <div class="px-6 pt-4 pb-2">
        @foreach (Tag t in @Content.Tags)
            {
            <NavLink href="@($"tags/{@t.TagId}")" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2 hover:bg-amber-300">
                @t.TagName
            </NavLink>
            }
    </div>

</div>

@code {

    [Parameter]
    public Content? Content { get; set; }

}


